@charset "utf-8";

*{margin: 0; padding: 0; font-family: Microsoft JhengHei, arial; }
a{ text-decoration: none; color: #FFF; }
.clearfix:after {  
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav{
	background-color: rgb(84,73,23);
	text-align: center;
}
#main{
	position: relative;
	background: url(../img/index/main.jpg) center center no-repeat;
	background-size: cover;
	min-height: 700px;
}
#main p{
	padding-top: 90px;
	color: #FFF;
	font-size: 36px;
	text-align: center;
}
#main img{
	margin-left: 7%;

	width: 75px;
}
section{
	background: url(../img/index/click.jpg) left bottom no-repeat;
	background-size: cover;
	min-height: 200px;
	padding: 30px 0;
}
section > div{
	margin: 0 auto;
	width: 300px;
}
.choose{
	float: left;
	width: 50%;
	color: #FFF;
	text-align: center;
}
.choose p{
	border: 1px solid;
	margin: 10px auto;
	width: 50%;
	padding: 5px 20px;
}
.choose span{
	font-size: 10px;
}

footer{
	background: url(../img/index/footer.jpg) left no-repeat;
	background-size: cover;
	padding: 30px;
	color: #FFF;
}
footer .copyright{
	font-size: 12px;
}
footer span{
	display: block;
	margin: 10px 0;
	color: #479e39;
	font-size: 10px;
}
/*shin jian ran / happiness time*/

@media (min-width: 981px){

#main img{
	margin-left: 13%;
}

}

@media (max-width: 480px){

#main p{
	padding-top: 50px;
	font-size: 30px;
}

}